#search {
    background-color: #F5F5F5;
    border-color: #64BEBF;
    color: #64BEBF;
    border-style: solid;
    text-align: center;
    height: 30px;
    width: 150px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px;
    margin: 60px 60px 10px;
}

#plus {
    background-color: #00D1B2;
    color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-color: #00D1B2;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 20px;
}

